{% extends "base.html" %}
{% block content %}
        <div class="p-3 shadow">
        <div class="card-body">
            <div class="card-title">
                <h3>{{i.name}}</h3>
                <p><b>{{i.priority}}</b></p>
                <p><b>{{i.date}}</b></p>
                <a class="btn btn-danger" href="{% url 'delete' i.id %}">DELETE</a>
                <a class="btn btn-success" href="{% url 'update' i.id %}">UPDATE</a>
            </div>
        </div>
        </div>
{% endblock %}
